<tr>
  <td>
    <%= post.id %>
  </td>
  <td>
    <%= post.title %>
  </td>
  <td>
    <%= post.description %>
  </td>
  <td>
    <%= post.blog.present? ? post.blog.title : "No Blog" %>
  </td>
</tr>
