<div class="flex flex-col w-full">
  <div id="form">
    <%= render partial: "posts/new", locals: { post: @post } %>
  </div>
  <div class="flex w-full pt-2">
    <%= render partial: "posts/table", locals: { posts: @posts } %>
  </div>
</div>
